<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center my-3">
      <%= image_tag 'angry_coach.png', alt: 'An angry coach', width: 200 %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="display-4 mt-3 text-center">Stupid coaching</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <p class='text-center display-5'>You can ask or tell your coach anything!</p>
    </div>
  </div>

  <form class="form-inline justify-content-center" method='get' action='/answer'>
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="inputPassword2" placeholder="Yes?" name = 'question'>
    </div>
    <input type="submit" class="btn btn-primary mb-2" value='Ask!'>
  </form>

</div>
